.admin-layout {
  min-height: 100vh;
  background-color: var(--color-background);

  &__body {
    display: grid;
    grid-template-columns: 15rem 1fr;
    min-height: calc(100vh - 4rem);
  }

  &__content {
    min-width: 0;
    padding: var(--spacing-xl);
    background-color: var(--color-surface);
  }
}
